body
{
background-color:white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content
{
    background-color: purple;
    border: 2px solid black;
    width: 80%;
    margin-left: 10%;
    text-align: center;

    margin-top: 100px;
    margin-bottom: 10px;
border-radius: 10%;
}
h2
{

margin-top: 0px;
margin-bottom: 0px;
font-family: cursive;
}
h3
{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 100px;
}
p
{

font-family: inherit;
font-style: oblique;
font-size: 50px;
}
#sub_menu
{
    display: flex;
margin-bottom: 10px;
}

.menu_btn
{
    flex: 1 1 auto;
border-style: dotted;
border-color: aqua;
border-radius: 50%;
font-size: large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-left: 10%;
margin-right: 10%;
background-color: blue;
}
#home_btn:hover
{
background-color: gainsboro;


}

#content_btn:hover
{

background-color: black;

}
#article
{
    display: flex;
    border-color: blueviolet;
    width: 75%;

}

.article_component
{
    flex: 1 1 auto;
}
#Bob_NH
{

color: black;

margin-left: 80%;



}
#article_text
{
display: none;


}